<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widget List</title>
  <link href="../../vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>


  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../../css/styles.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a href="../page/page-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </p>

    <!--plus mark-->
    <p class="navbar-text pull-right">
      <a href="profile.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid">
  <div class="hbd-widget">
    <div class="hbd-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h1>Head 1</h1>
  </div>

  <div class="hbd-widget">
    <div class="hbd-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <img class="hbd-content" src="http://lorempixel.com/400/200">
    <p>The new Fire TV works <a href="https://gizmodo.com/the-chromecast-ultra-is-impressively-terrific-at-a-rock-1788752069#_ga=2.1422515.363803294.1506310433-1938050416.1478524395" rel="nofollow">a lot like Google’s $70 Chromecast Ultra</a>.  The Amazon competitor is neat little dongle that comes with 4K HDR at 60 fps, Dolby Atmos support, a 1.5 Ghz quad-core processor, and 802.11ac wi-fi. The small square dongle also plugs right into your TV, so it can effectively disappear from view. There’s also a regular Alexa Voice Remote in case you want to talk to your Fire TV or smash buttons like a caveman.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/euAqzOQO6Bw" frameborder="0" allowfullscreen></iframe>
  </div>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
