<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Homepage</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/login']" class="navbar-brand thick">
        <b>Login</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/leagues']" class="navbar-brand">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/matches']" class="navbar-brand">
        <b>Matches</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <li *ngFor="let league of leagueList" class="list-group-item">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-3">
          <a [routerLink]="['/leagues',league._id,'teams']">{{league.name}}</a>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">Users: {{league.users_id.length}}</div>
        <div class="col-md-3 col-xs-4 col-sm-4">
          <button class="btn btn-block btn-danger"
            (click)="deleteLeague(league._id)">Delete</button>
        </div>
      </div>
    </li>
  </ul>
</div>
