<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/leagues']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Homepage</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/login']" class="navbar-brand">
        <b>Login</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/leagues']" class="navbar-brand">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/matches']" class="navbar-brand">
        <b>Matches</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right" *ngIf="isLoggedin && !isTeamOwner()">
      <a [routerLink]="['/leagues',lId,'teams','new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <li *ngFor="let team of teamList" class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-4">
          <a [routerLink]="['/team',team._id]">{{team.name}}</a>
        </div>
        <div class="col-md-3 hidden-xs col-sm-3">Owner:
          <a [routerLink]="['/user',team.userId._id]">{{team.userId.username}}</a>
        </div>
        <!-- <div class="col-md-4">Points?</div> -->
        <div class="col-md-3 col-xs-4 col-sm-4" *ngIf="isLoggedin && isTeamOwnerCog(team.userId._id)">
          <a [routerLink]="['/leagues',lId,'team',team._id,'edit']" class="pull-right">
            <span class="glyphicon glyphicon-cog"> </span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid" *ngIf="isLoggedin">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
