<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Homepage</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/login']" class="navbar-brand">
        <b>Login</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/leagues']" class="navbar-brand">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/login']" class="navbar-brand">
        <b>Matches</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', pUserId]" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <li *ngFor="let team of teamList" class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-4">
          <a [routerLink]="['/team',team._id]">{{team.name}}</a>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">Owner: {{findTeamOwner(team.userId)}}</div>
        <div class="col-md-4">Points?</div>
      </div>
    </li>
  </ul>
</div>
