
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user',uId,
          'website',wId,
          'page']"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </p>

    <!--plus mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user',uId,
          'website',wId,
          'page',pId,
          'widget','new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid">

  <div *ngFor="let widget of widgets">

    <div [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase="'HEADING'">
        <div class="hbd-widget">
          <div class="hbd-toolbar">
            <a [routerLink]="['/user',uId,
                'website',wId,
                'page',pId,
                'widget',widget._id]"
               class="navbar-link">
              <span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <h1>{{widget.text}}</h1>
        </div>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <div class="hbd-widget">
          <div class="hbd-toolbar">
            <a [routerLink]="['/user',uId,
                'website',wId,
                'page',pId,
                'widget',widget._id]" class="navbar-link">
              <span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <div class="youtubeWrap" style.width="{{widget.width}}">
            <iframe width="560"
                    height="315"
                    [src]="trustYoutubeUrl(widget.url)"
                    frameborder="0"
                    allowfullscreen>

            </iframe>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'IMAGE'">
        <div class="hbd-widget">
          <div class="hbd-toolbar">
            <a [routerLink]="['/user',uId,
                'website',wId,
                'page',pId,
                'widget',widget._id]"
               class="navbar-link">
              <span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <img class="hbd-content" [src]="widget.url" style.width="{{widget.width}}">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', uId]" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
