
<div class="container-fluid">

  <a [routerLink]="['']"
   class="navbar-brand thick"><b>Project webpage</b></a>



<a href="https://github.com/harvinb/webdev-dalmeida-harvin-project/wiki"
   class="navbar-brand thick"><b>Project wiki</b></a>



<a href="https://github.com/harvinb/webdev-dalmeida-harvin-project" class="navbar-brand thick">
  <b>Project Repo</b>
</a>



<a href="https://webdev-dalmeida-harvin.herokuapp.com/" class="navbar-brand thick">
  <b>Assignment Webpage</b>
</a>



<a href="https://github.com/harvinb/webdev-dalmeida-harvin" class="navbar-brand thick">
  <b>Assignment Repo</b>
</a>
</div>
