input {
  margin-bottom: 5px;
}

.btn {
  margin-bottom: 5px;
}

input.form-control.ng-invalid.ng-touched{
  border-color: #f00;
}

.navbar {
  background-color: #337ab7;
}
.navbar-default .navbar-brand{
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-link {
  color: #fff;
}

.navbar-default .navbar-link:hover,
.navbar-default .navbar-link:focus {
  color: #fff;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

p.pull-left {
  padding-right: 10px;
}
/*
p.pull-right {
  padding-right: 10px;
}
*/
#combinedtick {
  padding-right: 2.5%;
}
.list-group-item {
  border: none;
}

.hbd-widget .hbd-toolbar {
  position: absolute;
  right: 0px;
  background-color: grey;
  padding: 7px;
  border-bottom-left-radius: 10px;
  opacity: 0.7;
}

.hbd-widget .hbd-content {
  width: 100%;
}

.youtubeWrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin-right: 40px; /* to avoid overlap between cog and youtube share */
  height: 0;
}
.youtubeWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
