input {
  margin-bottom: 5px;
}

.navbar {
  background-color: #337ab7;
}
.navbar-default .navbar-brand{
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-link {
  color: #fff;
}

.navbar-default .navbar-link:hover,
.navbar-default .navbar-link:focus {
  color: #fff;
}

.navbar-text .portrait-hide {
  display: inline-block;
  left: 0;
  right: 0;
  margin:0;
  float:none;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

p.pull-left {
  padding-right: 10px;
}
/*
p.pull-right {
  padding-right: 10px;
}
*/
#combinedtick {
  padding-right: 2.5%;
}
.list-group-item {
  border: none;
}

.hbd-widget .hbd-toolbar {
  position: absolute;
  right: 0px;
  background-color: grey;
  padding: 7px;
  border-bottom-left-radius: 10px;
  opacity: 0.5;
}

.hbd-widget .hbd-content {
  width: 100%;
}
