
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user',uId]" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['']" class="navbar-brand thick">
        <b>Homepage</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/leagues']" class="navbar-brand">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/matches']" class="navbar-brand">
        <b>Matches</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user',uId,'league','new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <h3>My Owned Leagues</h3>
</div>

<div class="container-fluid">
  <ul class="list-group">
    <li *ngFor="let league of leagueList" class="list-group-item">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-3">
          <a [routerLink]="['/user',uId,'league',league._id,'team']">{{league.name}}</a>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">Users: {{league.users_id.length}}</div>
        <div class="col-xs-4 col-sm-4 col-md-3">
          <a [routerLink]="['/user',uId,'league',league._id,'ppsearch']">Edit Player Pool</a>
        </div>
        <div class="col-md-3 col-xs-4 col-sm-4">
          <a [routerLink]="['/user',uId,'website',league._id]" class="pull-right">
            <span class="glyphicon glyphicon-cog"> </span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <h3>My Joined Leagues</h3>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', uId]" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
