<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Homepage</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/login']" class="navbar-brand thick">
        <b>Login</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/leagues']" class="navbar-brand">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/matches']" class="navbar-brand">
        <b>Matches</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <h3>Create User</h3>
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <form (ngSubmit) = "userCreate()" #f="ngForm">
    <input placeholder="username"
           name="username"
           type="text"
           ngModel
           required
           #username="ngModel"
           class="form-control"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter valid password!
    </span>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">Create User</button>

  </form>
</div>

<div class="container-fluid">
  <h3>Current Users</h3>
  <ul class="list-group">
    <li *ngFor="let user of userList" class="list-group-item">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-3">
          {{user.username}}
        </div>
        <div class="col-md-3 col-xs-4 col-sm-4">
          <button class="btn btn-block btn-danger"
                  (click)="deleteUser(user._id)">Delete</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid" *ngIf="isLoggedin">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
