
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user',uId,
          'website',wId,
          'page',pId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Choose Widget</b>
      </a>
    </p>
  </div>
</nav>


<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item">
      <a (click)='createNewWidget("HEADING")'>Header</a>
    </li>
    <li class="list-group-item">
      <a (click)='createNewWidget("IMAGE")'>Image</a>
    </li>
    <li class="list-group-item">
      <a (click)='createNewWidget("YOUTUBE")'>Youtube</a>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', uId]" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
