<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/leagues',team.leagueId,'teams']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Homepage</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/login']" class="navbar-brand">
        <b>Login</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/leagues']" class="navbar-brand">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/matches']" class="navbar-brand">
        <b>Matches</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <div class="h1">{{team.name}}</div>
  <div class="h2">Owner: {{team.userId.username}}</div>

  <div class="h2">Players</div>
  <div class="h3" *ngIf="isLoggedin && (team.userId._id === user._id) && proPlayerList.length < 5">
    <a [routerLink]="['/leagues',team.leagueId,'team',team._id,'ppool']">Add Players</a>
  </div>

    <ul class="list-group">
      <li *ngFor="let player of proPlayerList" class="list-group-item">
        <div class="row">
          <div class="col-xs-9 col-sm-6 col-md-4">
            <a [routerLink]="['/project','players',player.account_id]">{{player.name}}</a>
          </div>
          <div class="col-md-4">Points: {{player.fantasy_role}}</div>
          <div class="col-md-4" *ngIf="isLoggedin && (team.userId._id === user._id)">
            <button class="btn-block btn-primary"
              (click)="removeFromTeam(player.account_id)">Remove</button>
          </div>
        </div>
      </li>
    </ul>


  <div class="h2">Total Points: {{totalPoints}}</div>
  <div class="h2">Comments NOTE: Editor not working</div>
  <ul class="list-group">
    <li *ngFor="let cmt of commentList" class="list-group-item">
      <div class="row">
        {{cmt.cdata}} -- <a [routerLink] = "['/user',cmt.userId._id]">{{cmt.userId.username}}</a>
      </div>
      <!-- <div class="ql-editor preview" [innerHTML]="cmt.cdata"></div> -->
    </li>
  </ul>

</div>

<quill-editor [(ngModel)]="editorContent"></quill-editor>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid" *ngIf="isLoggedin">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
