<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Homepage</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/login']" class="navbar-brand">
        <b>Login</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/leagues']" class="navbar-brand">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/matches']" class="navbar-brand">
        <b>Matches</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', pUserId]" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

<div class="h1">{{team.name}}</div>
<div class="h2">Owner: {{user.username}}</div>

<div class="h2">Players</div>
<div class="container-fluid">
  <ul class="list-group">
    <li *ngFor="let player of proPlayerList" class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-4">
          <a [routerLink]="['/project','players',player.account_id]">{{player.name}}</a>
        </div>
        <div class="col-md-4">Points: {{player.fantasy_role}}</div>
        <div class="col-md-4">
          <button class="btn-block btn-primary">Change</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="h2">Total Points: {{totalPoints}}</div>
<div class="h2">Comments </div>
