<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/user',uId,'website']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>Websites</b>
          </a>
        </p>
        <!--plus mark-->
        <p class="navbar-text pull-right">
          <a [routerLink]="['/user',uId,'website','new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
      <div class="col-sm-8">
        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>New Website</b>
          </a>
        </p>
        <!--tick mark-->
        <p class="navbar-text pull-right" id="combinedtick">
          <button form="ngForm" class="navbar-link" [disabled]="!f.valid">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </p>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 hidden-xs">
      <ul class="list-group">
        <li *ngFor="let website of websites" class="list-group-item">
          <a [routerLink]="['/user',uId,'website',website._id,'page']">{{website.name}}</a>
          <a [routerLink]="['/user',uId,'website',website._id]" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
      </ul>

    </div>
    <div class="col-sm-8">

      <div *ngIf="errorFlag"
           class="alert alert-danger">
        {{errorMsg}}
      </div>

      <form (ngSubmit) = "createNewWebsite()" #f="ngForm" id="ngForm">
        <div class="form-group">
          <label for="websitename">Website Name</label>
          <input type="text"
                 name="sitename"
                 class="form-control"
                 id="websitename"
                 ngModel
                 required
                 #websiteName="ngModel"
                 placeholder="Name">
          <span class="help-block" *ngIf="!websiteName.valid && websiteName.touched">
            Please enter Website Name!
          </span>
        </div>

        <div class="form-group">
          <label for="websitedescription">Description</label>
          <textarea type="text"
                    name="description"
                    rows="5"
                    class="form-control"
                    id="websitedescription"
                    ngModel
                    required
                    #description="ngModel"
                    placeholder="Description"></textarea>
          <span class="help-block" *ngIf="!description.valid && description.touched">
            Please enter description!
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', uId]" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
