<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a [routerLink]="['/home']" class="navbar-brand thick">
        <b>HomePage</b>
      </a>
    </p>

    <p class="navbar-header pull-left" *ngIf="!isLoggedin">
      <a [routerLink]="['/login']" class="navbar-brand thick">
        <b>Login</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['']" class="navbar-brand">
        <b>Leagues</b>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a [routerLink]="['/matches']" class="navbar-brand">
        <b>Matches</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <li *ngFor="let match of matches" class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-4">
          {{match.radiant_name}} <b>VS</b> {{match.dire_name}}
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
          Tournament : {{match.league_name}}
        </div>
        <div class="col-md-4 col-xs-3 col-sm-6">
          Winner:
          <b *ngIf="( match.radiant_win ); else loss">{{match.radiant_name}}</b>
          <ng-template #loss>
            <b>{{match.dire_name}}</b>
          </ng-template>
        </div>
      </div>
    </li>
  </ul>
</div>
