<div class="container-fluid">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Register</h1>

  <form (ngSubmit) = "register()" #f="ngForm">

    <input placeholder="username"
           name="username"
           type="text"
           ngModel
           required
           #username="ngModel"
           class="form-control"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter valid password!
    </span>

    <input placeholder="Verify password"
           name="verifypwd"
           type="password"
           class="form-control"
           ngModel
           required
           #verifypwd="ngModel"/>
    <span class="help-block" *ngIf="!verifypwd.valid && verifypwd.touched">
      Please enter valid password!
    </span>

    <button class="btn btn-primary btn-block"
       type="submit"
       [disabled]="!f.valid">Register</button>
  </form>

  <a class="btn btn-danger btn-block"
     [routerLink]="['/login']" >Cancel</a>

</div>
