
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user',uId,
          'website',wId,
          'page',pId,
          'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <button form="ngForm" class="navbar-link" [disabled]="!f.valid">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <form (ngSubmit) = "updateCurWidget()" #f="ngForm" id="ngForm">
    <div class="form-group">
      <label for="imagename">Name</label>
      <input type="text"
             [(ngModel)]="widget.name"
             name="widgetname"
             class="form-control"
             id="imagename"
             ngModel
             required
             #widgetName="ngModel"
             placeholder="Heading Name">
      <span class="help-block" *ngIf="!widgetName.valid && widgetName.touched">
        Please enter Widget Name!
      </span>
    </div>

    <div class="form-group">
      <label for="imagetext">Text</label>
      <input type="text"
             [(ngModel)]="widget.text"
             name="widgettext"
             class="form-control"
             id="imagetext"
             ngModel
             required
             #widgetText="ngModel"
             placeholder="Heading Text">
      <span class="help-block" *ngIf="!widgetText.valid && widgetText.touched">
        Please enter Widget Text!
      </span>
    </div>

    <div class="form-group">
      <label for="imageurl">URL</label>
      <input type="text"
             [(ngModel)]="widget.url"
             name="widgetURL"
             class="form-control"
             id="imageurl"
             ngModel

             placeholder="http://img">
    </div>

    <div class="form-group">
      <label for="imagewidth">Width</label>
      <input type="text"
             [(ngModel)]="widget.width"
             name="widgetWidth"
             class="form-control"
             id="imagewidth"
             ngModel

             placeholder="50%">
    </div>

    <div class="form-group">
      <label for="imageupload">Upload</label>
      <input type="file" class="form-control" id="imageupload">
    </div>
  </form>

  <button class="btn btn-primary btn-block">Upload</button>
  <a class="btn btn-danger btn-block "
     (click)="deleteCurrentWidget()" >Delete</a>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', uId]" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
